body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#taskInput {
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addBtn {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addBtn:hover {
    background-color: #45a049;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task {
    background-color: #e6e6e6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}
